/vendor/
/node_modules/
/storage/*.key
/storage/app/
/storage/framework/
/storage/logs/
.phpunit.cache/
composer.lock
*.db
*.sqlite
.env
/.idea/
/.phpstan-cache/
.phpunit.result.cache
database/*.sqlite*
